<IfModule mod_headers.c>

    ExpiresActive On

    # One year for image and video files
    <filesMatch ".(gif|ico|jpg|jpeg|mp4|mpeg|png)$">
        Header set Cache-Control "max-age=31536000, public"
    </filesMatch>

    # One month for JavaScript and PDF files
    <filesMatch ".(js|pdf)$">
        Header set Cache-Control "max-age=2592000, public"
    </filesMatch>

    # One week for CSS files
    <filesMatch ".(css)$">
        Header set Cache-Control "max-age=604800, public"
    </filesMatch>
</IfModule>