html body {
    background-color: #04015d;
}

.header-navbar.navbar-semi-dark .navbar-header {
    background-color: #04015d;
    color: #fff;
}

ul.nav.navbar-nav {
    padding: 13px 18px;
}

div#navbar-mobile {
    padding-top: 13px;
}

.main-menu.menu-dark .navigation,
.main-menu.menu-dark,
.main-menu.menu-dark .navigation > li.open > ul {
    background-color: #2eff37;
}

.main-menu.menu-dark .navigation li a {
    color: #000;
}

.main-menu.menu-dark .navigation > li:hover > a,
.main-menu.menu-dark .navigation > li.open .hover > a,
.main-menu.menu-dark .navigation > li.open > a {
    background-color: #04015d;
}

body.vertical-layout.vertical-menu.menu-collapsed
    .main-menu
    .main-menu-content
    a.menu-title,
body.vertical-layout.vertical-menu.menu-collapsed
    .main-menu
    .main-menu-content
    > span.menu-title,
body.vertical-layout.vertical-menu.menu-collapsed
    .main-menu
    .main-menu-content
    a.menu-title,
.main-menu.menu-dark .navigation > li > ul,
.main-menu.menu-dark ul.menu-popout {
    background-color: #04015d;
}

.bg-green {
    background-color: #2eff37 !important;
    color: #000 !important;
}

.table,
.media-body {
    direction: ltr;
    background: #fff;
}

thead {
    background: #fff;
}

th {
    text-align: left;
}

a.btn.btn-primary,
.btn-primary:active:hover {
    background-color: #eee;
    border-color: #04015d;
    width: 215px;
}

a.btn.btn-primary:hover {
    color: #2eff37;
}

.card {
    background: none;
}

.card-block {
    background: #fff;
}

.card-header {
    background: #2eff37;
}

.down15 {
    margin-top: 15px;
}

#postseasonChart {
    height: 400px !important;
}

.dropdown {
    padding: 5px;
}

.bg-green h5 {
    font-size: 14px;
}

span.badge {
    padding: 3px 10px;
    border-radius: 6px;
}

.badge-primary {
    background-color: #2eff37;
}

.badge-secondary {
    background-color: #fb6262;
}

span.seed {
    margin-left: 2px;
    background: #e2e2e2;
    font-size: 9px;
    padding: 0px 3px;
    border-radius: 20px;
    border: 1px solid;
}

#year-select {
    padding: 15px;
    margin-bottom: 20px;
}

.champ {
    font-size: 24px;
}

#bracket {
    padding: 5px;
    direction: ltr;
    background: #fff;
}

#bracket td, #bracket th {
    padding: 5px 30px;
    font-weight: bold;
    font-size: 17px;
}

.top {
    border-top: 1px solid #000;
}
.bottom {
    border-bottom: 1px solid #000;
}

.plaque {
    padding: 8px;
    text-align: center;
    background: black;
    color: burlywood;
    margin: 5px 0px;
    direction: ltr;
}

.info-card {
    background: #fff;
    direction: ltr;
    padding: 10px;
}

.settings-table td {
    padding: 3px 10px;
    border: 1px solid #000;
}

.award {
    text-align: center;
    padding: 10px;
    margin: 3px 0px;
    height: 80px;
}

.good {
    background: gold;
}

.bad {
    background: coral;
}

.text-center {
    text-align: center;
}

.color-gray td, .color-gray {
    background-color: lightgray !important;
}

.color-QB td, .color-QB {
    background-color: aquamarine;
}

.color-RB td, .color-RB {
    background-color: burlywood;
}

.color-WR td, .color-WR {
    background-color: #fa9cff;
}

.color-TE td, .color-TE {
    background-color: #69cfff;
}

.color-DEF td, .color-DEF {
    background-color: #dffcde;
}

.color-K td, .color-K {
    background-color: #f7cbcc;
}

.color-D td, .color-DB td, .color-D, .color-DB {
    background-color: #fcf8b3;
}

td.color-bad {
    background: #fa887f;
}

td.color-good {
    background: #8cfa84;
}

tr.color-black td {
    background-color: #000;
    padding: 0px !important;
}

.modal-lg {
    max-width: 90%;
}